=will_paginate @calls

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Session start
      %th Source IP
      %th Destination IP
      %th From
      %th To
      %th Duration
      %th Status
      %th Response code
      %th Response Description


  %tbody
    - @calls.each do |call|
      %tr
        %td
          = call.start_time.to_formatted_s(:short)
        %td
          = call.ips.find_by(source: true).ip
        %td
          = call.ips.find_by(source: false).ip
        %td
          = call.caller
        %td
          = call.callee
        %td
          = call.duration
        %td
          = call.status_at_end
        %td
          = call.response_code
        %td
          = call.response_description
%br

=will_paginate @calls

