-#=will_paginate @records

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Client IP:Port
      %th Destination IP:Port
      %th Domain
      %th Subscriber ID
      %th Downloaded
      %th Uploaded
      %th Session start
      %th Session end

  %tbody
    - @records.each do |r|
      %tr
        %td
          = r.client_ip.native
          -#(
          -#= r.client_ip
          -#)
          %br
          \:
          = r.client_port
        %td
          = r.destination_ip.native
          %br
          \:
          = r.destination_port
        %td
          = r.domain
        %td
          = r.subscriber_id
          -#- url = r.domain.nil? ? '' : r.domain + r.url
          -#- url = r.url unless r.destination_port == 80
          -#= link_to r.url, 'http://' + url, target: :_blank
        %td
          = r.bytes_received
        %td
          = r.bytes_sent
        %td
          = r.session_start.to_formatted_s(:short)
        %td
          = r.session_end.to_formatted_s(:short)
%br

-#=will_paginate @records

